<?xml version="1.0"?>

<robot name="$(arg name)" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Arguments -->
    <xacro:arg name="sim_gazebo" default="false" />
    <xacro:arg name="use_camera" default="false" />
    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="gripper" default="" />

    <xacro:arg name="joint_limits" default="$(find gen3_lite_description)/config/joint_limits.yaml" />
    <xacro:arg name="initial_position" default="$(find gen3_lite_description)/config/initial_position.yaml" />

    <!-- Not used yet -->
    <xacro:arg name="vision" default="false" />
    <xacro:arg name="robot_ip" default="192.168.1.10" />
    <xacro:arg name="username" default="admin" />
    <xacro:arg name="password" default="admin" />
    <xacro:arg name="port" default="10000" />
    <xacro:arg name="port_realtime" default="10001" />
    <xacro:arg name="session_inactivity_timeout_ms" default="60000" />
    <xacro:arg name="connection_inactivity_timeout_ms" default="2000" />

    <xacro:arg name="gripper_joint_name" default="right_finger_bottom_joint" />
    <xacro:arg name="gripper_max_velocity" default="100.0" />
    <xacro:arg name="gripper_max_force" default="100.0" />
    <xacro:arg name="use_internal_bus_gripper_comm" default="true" />
    <xacro:arg name="use_external_cable" default="false" />

    <xacro:include filename="$(find gen3_lite_description)/urdf/gen3_lite_macro.urdf.xacro" />

    <link name="world"/>

    <xacro:load_arm
        parent="world"
        prefix="$(arg prefix)"
        sim_gazebo="$(arg sim_gazebo)"
        gripper="$(arg gripper)"
        use_camera="$(arg use_camera)">

        <origin rpy="0 0 0" xyz="0 0 0" />
    </xacro:load_arm>

    <xacro:property name="gripper_pkg" value="$(arg gripper)_description" />

    <xacro:unless value="${not '$(arg gripper)'}">
        <xacro:include filename="$(find ${gripper_pkg})/urdf/$(arg gripper)_macro.urdf.xacro" />

        <xacro:load_gripper
            parent="${last_arm_link}"
            prefix="$(arg prefix)"
            sim_gazebo="$(arg sim_gazebo)">

            <origin rpy="0 0 0" xyz="0 0 0" />
        </xacro:load_gripper>
    </xacro:unless>

</robot>