[submodule "gen3_lite"]
	path = gen3_lite
	url = git@github.com:MOBILAB-UDESC/gen3_lite.git
[submodule "grippers/kinova_2f_lite"]
	path = grippers/kinova_2f_lite
	url = git@github.com:MOBILAB-UDESC/kinova_2f_lite.git
[submodule "unitree_d1"]
	path = unitree_d1
	url = git@github.com:MOBILAB-UDESC/unitree_d1.git
[submodule "grippers/d1_2f"]
	path = grippers/d1_2f
	url = git@github.com:MOBILAB-UDESC/d1_2f.git
[submodule "unitree_z1"]
	path = unitree_z1
	url = git@github.com:MOBILAB-UDESC/unitree_z1.git
