[submodule "gen3_lite"]
	path = gen3_lite
	url = git@github.com:MOBILAB-UDESC/gen3_lite.git
[submodule "grippers/kinova_2f_lite"]
	path = grippers/kinova_2f_lite
	url = git@github.com:MOBILAB-UDESC/kinova_2f_lite.git
