<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="d1_2f_ros2_control" params="prefix sim_gazebo" >

    <ros2_control name="GripperHardwareInterface" type="system">
        <xacro:if value="${sim_gazebo}">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:if>

        <joint name="${prefix}joint_L">
            <command_interface name="position" />
            <state_interface name="position">
            <state_interface name="effort" />
                <param name="initial_value">${right_finger_joint_initial}</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>

        <joint name="${prefix}joint_R">
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
            <param name="mimic">${prefix}joint_L</param>
            <param name="multiplier">-1</param>
        </joint>
    </ros2_control>

  </xacro:macro>
</robot>